{% extends layout %}
{% block content %}
<div class="wrapper w_about">
	<div class="centering">
		<div class="about_first clearfix">
			<div class="big_page_name"><span>О компании</span></div>
			<div class="about_img">
				<img src="images/about_first.jpg" alt="" />
			</div>
			<div class="about_text">
				<p>Компания «ПРОФИКС» — активный участник рынка профессиональной косметики для волос Более 10 лет мы отвечаем запросам каждого нашего покупателя, независимо от категории и формата салона и социального статуса его клиентов.</p>
				<p>Сегодня ассортиментный портфель Компании насчитывает более 5 000 наименований высококачественной продукции мировых производителей:</p>
				<ul>
					<li>SCHWARZKOPF Professional</li>
					<li>OLLIN Professional</li>
					<li>INDOLA Professional</li>
					<li>CONSTANT DELIGHT</li>
					<li>KEEN</li>
					<li>NEXXT Professional</li>
					<li>LONDA Professional</li>
					<li>Shot</li>
					<li>Dona Jerdona</li>
					<li>А также расходных материалов, электрики и принадлежностей.</li>
				</ul>
			</div>
		</div>
		<div class="about_two clearfix">
			<div class="about_img">
				<img src="images/about_two.jpg" alt="" />
			</div>
			<div class="about_text">
				<div class="at_title">Взаимовыгодное сотрудничество</div>
				<p>Одним из приоритетов для нас является постоянное развитие и расширение ассортимента и предложение актуальных рыночных идей. Компетентность и профессионализм специалистов компании, продуманная ценовая политика являются надежной базой для взаимовыгодного и перспективного сотрудничества с партнерами и возможность говорить с ними на одном языке.</p>
				<p>Мы успешно сотрудничаем с торговыми предприятиями, розничными сетями профессиональной косметики, интернет-магазинами, салонами красоты, парикмахерскими и частными мастерами. Компания «ПРОФИКС» — это  современная, молодая команда, которая находится в постоянном движении и развитии. Наш персонал отличается не только своей квалификацией, профессиональными навыками и знаниями, но и отзывчивостью и искренней заботой о каждом клиенте.</p>
				<p>Особый акцент компания делает на сервисном обслуживании. Стремясь двигаться навстречу своим клиентам, мы постоянно развиваем свою логистическую сеть и на сегодняшний день осуществляем бесплатную доставку продукции не только в Екатеринбурге, но и в 15 направлениях по Свердловской области! Для обеспечения наилучших условий поставок в отдаленные территории ведется сотрудничество с крупными транспортно-логистическими компаниями полного цикла, что также гарантирует оперативную поставку.</p>
			</div>
		</div>
		<div class="about_three clearfix">
			<div class="about_img">
				<img src="images/about_three.jpg" alt="" />
			</div>
			<div class="about_text">
				<div class="at_title">Инновации</div>
				<p>В ближайших планах компании – открытие сети розничных магазинов в Екатеринбурге и области, а также интернет-магазина. Мы надеемся, что это поможет нам стать еще ближе к нашим клиентам!</p>
				<p>Мы стремимся поддерживать любые инновации в индустрии красоты, предлагая новейшие разработки и предоставляя нашим клиентам услуги по обучению.</p>
				<p>В 2015 году Компания «ПРОФИКС» открыла для своих клиентов Учебный центр, где вы можете посетить семинары по колористике на различных красителях, уходовым и восстанавливающим процедурам и многие другие.</p>
				<p>Также мы с радостью организовываем для наших клиентов Мастер-классы от профессиональных мастеров и технологов, лидеров команд технологического сервиса наших партнеров: марок OLLIN Professional, CONSTANT DELIGHT и SCHWARZKOPF Professional.</p>
			</div>
			<div class="about_slogan">Мы готовы брать новые вершины и развиваться вместе с вами!</div>
		</div>
	</div>
</div>
{% endblock %}