{% extends layout %}
{% block content %}

<div class="slider">
	<div class="owl-carousel general_slider">
		<div class="item">
			<div class="centering">
				<div class="s_position">
					<div class="sp_image">
						<img src="images/slide.jpg" alt="" />
					</div>
					<div class="sp_text">
						<div class="spt_flex">
							<div class="sptf_title"><a href="#">OLLIN STYLE: 3=4!</a></div>
							Заказывая 3 продукта OLLIN STYLE,<br />4-й вы получаете в подарок!
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="centering">
				<div class="s_position">
					<div class="sp_image">
						<img src="images/slide.jpg" alt="" />
					</div>
					<div class="sp_text">
						<div class="spt_flex">
							<div class="sptf_title"><a href="#">OLLIN STYLE: 3=4!</a></div>
							Заказывая 3 продукта OLLIN STYLE,<br />4-й вы получаете в подарок!
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="centering">
				<div class="s_position">
					<div class="sp_image">
						<img src="images/slide.jpg" alt="" />
					</div>
					<div class="sp_text">
						<div class="spt_flex">
							<div class="sptf_title"><a href="#">OLLIN STYLE: 3=4!</a></div>
							Заказывая 3 продукта OLLIN STYLE,<br />4-й вы получаете в подарок!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="centering c_no_padding">
	<div class="recommend">
		<div class="owl-carousel r_list recommend_carusel">
			<div class="rl_item">
				<a href="#">
					<span class="rl_block">
						<span class="rl_title">Гель лаки Dona Jerdona теперь и в нашем интернет магазине</span>
					</span>
					<span class="rlb_back"><span class="rl_image" style="background-image: url(images/rec1.jpg);"></span></span>
				</a>
			</div>
			<div class="rl_item rl_full_back">
				<a href="#">
					<span class="rl_block">
						<span class="rl_title">Рекомендуем: Бальзам Объем и Питание Constant Delight всего за 300 Р</span>
					</span>
					<span class="rlb_back">
						<span class="rl_image" style="background-image: url(images/rec2.jpg);"></span>
					</span>
				</a>
			</div>
			<div class="rl_item">
				<a href="#">
					<span class="rl_block">
						<span class="rl_title">Акция февраля: Dona Jerdona гель-лаки на каждый день!</span>
					</span>
					<span class="rlb_back">
						<span class="rl_image" style="background-image: url(images/rec1.jpg);"></span>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="products_in_general">
		<ul class="pig_menu">
			<li class="pigm_new pigm_current"><span>Новинки</span></a></li>
			<li class="pigm_hot"><span>Хиты продаж</span></li>
			<li class="pigm_sale"><span>Скидки до -50%</span></li>
		</ul>
		<div class="owl-carousel products products_carusel">
			<div class="p_item item p_general_new pg_show">
				<span class="p_markers">
					<span class="pm_new">NEW</span>
				</span>
				<span class="p_like">
					<svg width="100%" height="100%" class="use_p_heart">
						<use xlink:href="#heart" x="0" y="0" width="100%" height="100%"></use>
					</svg>
				</span>
				<span class="p_image" style="background-image: url(images/product.jpg);">
					<a href="#" class="pi_full"></a>
					<a href="#" class="pi_fast">Быстрый просмотр</a>
				</span>
				<span class="p_brand">
					<a href="#">Ollin Professional</a>
				</span>
				<span class="p_title">
					<a href="#">Моделирующий крем</a>
				</span>
				<span class="p_price">231<span class="rub"></span></span>
				<a href="#" class="p_cart">
					<span>
						<svg width="100%" height="100%" class="use_p_cart">
							<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</span>
					В корзину
				</a>
			</div>
			<div class="p_item item p_general_new pg_show">
				<span class="p_markers">
					<span class="pm_hot">ХИТ</span>
				</span>
				<span class="p_like">
					<svg width="100%" height="100%" class="use_p_heart">
						<use xlink:href="#heart" x="0" y="0" width="100%" height="100%"></use>
					</svg>
				</span>
				<span class="p_image" style="background-image: url(images/product.jpg);">
					<a href="#" class="pi_full"></a>
					<a href="#" class="pi_fast">Быстрый просмотр</a>
				</span>
				<span class="p_brand">
					<a href="#">Ollin Professional</a>
				</span>
				<span class="p_title">
					<a href="#">Моделирующий крем для волос средней фиксации, 200мл</a>
				</span>
				<span class="p_price">231<span class="rub"></span></span>
				<a href="#" class="p_cart">
					<span>
						<svg width="100%" height="100%" class="use_p_cart">
							<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</span>
					В корзину
				</a>
			</div>
			<div class="p_item item p_general_new pg_show">
				<span class="p_markers">
					<span class="pm_sale">&#8212; 109</span>
				</span>
				<span class="p_like">
					<svg width="100%" height="100%" class="use_p_heart">
						<use xlink:href="#heart" x="0" y="0" width="100%" height="100%"></use>
					</svg>
				</span>
				<span class="p_image" style="background-image: url(images/product.jpg);">
					<a href="#" class="pi_full"></a>
					<a href="#" class="pi_fast">Быстрый просмотр</a>
				</span>
				<span class="p_brand">
					<a href="#">Ollin Professional</a>
				</span>
				<span class="p_title">
					<a href="#">Моделирующий крем для волос</a>
				</span>
				<span class="p_price">231<span class="rub"></span></span>
				<a href="#" class="p_cart">
					<span>
						<svg width="100%" height="100%" class="use_p_cart">
							<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</span>
					В корзину
				</a>
			</div>
			<div class="p_item item p_general_new pg_show">
				<span class="p_like pl_current">
					<svg width="100%" height="100%" class="use_p_heart">
						<use xlink:href="#heart" x="0" y="0" width="100%" height="100%"></use>
					</svg>
				</span>
				<span class="p_image" style="background-image: url(images/product.jpg);">
					<a href="#" class="pi_full"></a>
					<a href="#" class="pi_fast">Быстрый просмотр</a>
				</span>
				<span class="p_brand">
					<a href="#">Ollin Professional</a>
				</span>
				<span class="p_title">
					<a href="#">Моделирующий крем для волос средней фиксации, 200мл</a>
				</span>
				<span class="p_price">231<span class="rub"></span></span>
				<a href="#" class="p_cart">
					<span>
						<svg width="100%" height="100%" class="use_p_cart">
							<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</span>
					В корзину
				</a>
			</div>
			<div class="p_item item p_general_new pg_show">
				<span class="p_like">
					<svg width="100%" height="100%" class="use_p_heart">
						<use xlink:href="#heart" x="0" y="0" width="100%" height="100%"></use>
					</svg>
				</span>
				<span class="p_image" style="background-image: url(images/product.jpg);">
					<a href="#" class="pi_full"></a>
					<a href="#" class="pi_fast">Быстрый просмотр</a>
				</span>
				<span class="p_brand">
					<a href="#">Ollin Professional</a>
				</span>
				<span class="p_title">
					<a href="#">Моделирующий крем для волос средней фиксации, 200мл</a>
				</span>
				<span class="p_price">231<span class="rub"></span></span>
				<a href="#" class="p_cart">
					<span>
						<svg width="100%" height="100%" class="use_p_cart">
							<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</span>
					В корзину
				</a>
			</div>
			<div class="p_item item p_general_new pg_show">
				<span class="p_like">
					<svg width="100%" height="100%" class="use_p_heart">
						<use xlink:href="#heart" x="0" y="0" width="100%" height="100%"></use>
					</svg>
				</span>
				<span class="p_image" style="background-image: url(images/product.jpg);">
					<a href="#" class="pi_full"></a>
					<a href="#" class="pi_fast">Быстрый просмотр</a>
				</span>
				<span class="p_brand">
					<a href="#">Ollin Professional</a>
				</span>
				<span class="p_title">
					<a href="#">Моделирующий крем для волос средней фиксации, 200мл</a>
				</span>
				<span class="p_price">231<span class="rub"></span></span>
				<a href="#" class="p_cart">
					<span>
						<svg width="100%" height="100%" class="use_p_cart">
							<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</span>
					В корзину
				</a>
			</div>
			<div class="p_item item p_general_new pg_show">
				<span class="p_like">
					<svg width="100%" height="100%" class="use_p_heart">
						<use xlink:href="#heart" x="0" y="0" width="100%" height="100%"></use>
					</svg>
				</span>
				<span class="p_image" style="background-image: url(images/product.jpg);">
					<a href="#" class="pi_full"></a>
					<a href="#" class="pi_fast">Быстрый просмотр</a>
				</span>
				<span class="p_brand">
					<a href="#">Ollin Professional</a>
				</span>
				<span class="p_title">
					<a href="#">Моделирующий крем для волос средней фиксации, 200мл</a>
				</span>
				<span class="p_price">231<span class="rub"></span></span>
				<a href="#" class="p_cart">
					<span>
						<svg width="100%" height="100%" class="use_p_cart">
							<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</span>
					В корзину
				</a>
			</div>
			<div class="p_item item p_general_new pg_show">
				<span class="p_like">
					<svg width="100%" height="100%" class="use_p_heart">
						<use xlink:href="#heart" x="0" y="0" width="100%" height="100%"></use>
					</svg>
				</span>
				<span class="p_image" style="background-image: url(images/product.jpg);">
					<a href="#" class="pi_full"></a>
					<a href="#" class="pi_fast">Быстрый просмотр</a>
				</span>
				<span class="p_brand">
					<a href="#">Ollin Professional</a>
				</span>
				<span class="p_title">
					<a href="#">Моделирующий крем для волос средней фиксации, 200мл</a>
				</span>
				<span class="p_price">231<span class="rub"></span></span>
				<a href="#" class="p_cart">
					<span>
						<svg width="100%" height="100%" class="use_p_cart">
							<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</span>
					В корзину
				</a>
			</div>
		</div>
	</div>
	<div class="brands_carusel">
		<div class="owl-carousel bc_slider">
			<div class="item">
				<div class="bcs_frame">
					<a href="#"><img src="images/brands/ollin.jpg" alt="" /></a>
				</div>
			</div>
			<div class="item">
				<div class="bcs_frame">
					<a href="#"><img src="images/brands/shpf.jpg" alt="" /></a>
				</div>
			</div>
			<div class="item">
				<div class="bcs_frame">
					<a href="#"><img src="images/brands/next.jpg" alt="" /></a>
				</div>
			</div>
			<div class="item">
				<div class="bcs_frame">
					<a href="#"><img src="images/brands/indola.jpg" alt="" /></a>
				</div>
			</div>
			<div class="item">
				<div class="bcs_frame">
					<a href="#"><img src="images/brands/cd.jpg" alt="" /></a>
				</div>
			</div>
			<div class="item">
				<div class="bcs_frame">
					<a href="#"><img src="images/brands/gt.jpg" alt="" /></a>
				</div>
			</div>
			<div class="item">
				<div class="bcs_frame">
					<a href="#"><img src="images/brands/shpf.jpg" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
	<div class="beauty_blog">
		<div class="h1">Beauty-блог</div>
		<div class="owl-carousel bb_list blog_carusel">
			<div class="bbl_item">
				<a href="#"><span class="bbl_image" style="background-image: url(images/bblog.jpg);"></span></a>
				<span class="bbl_text">
					<span class="bblt_frame">
						<span class="bbltf_date">30 декабря 2016</span>
						<span class="bbltf_title">
							<a href="#">Почему важно ухаживать за кожей головы?</a>
						</span>
						<span class="bbltf_category">
							<a href="#">Волос</a> | <a href="#">Уход</a>
						</span>
					</span>
				</span>
			</div>
			<div class="bbl_item bbl_allocated">
				<a href="#"><span class="bbl_image" style="background-image: url(images/bblog.jpg);"></span></a>
				<span class="bbl_text">
					<span class="bblt_frame">
						<span class="bbltf_date">30 декабря 2016</span>
						<span class="bbltf_title">
							<a href="#">Почему важно ухаживать за кожей головы?</a>
						</span>
						<span class="bbltf_category">
							<a href="#">Волос</a> | <a href="#">Уход</a>
						</span>
					</span>
				</span>
			</div>
			<div class="bbl_item">
				<a href="#"><span class="bbl_image" style="background-image: url(images/bblog.jpg);"></span></a>
				<span class="bbl_text">
					<span class="bblt_frame">
						<span class="bbltf_date">30 декабря 2016</span>
						<span class="bbltf_title">
							<a href="#">Почему важно ухаживать за кожей головы?</a>
						</span>
						<span class="bbltf_category">
							<a href="#">Волос</a> | <a href="#">Уход</a>
						</span>
					</span>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="about">
	<div class="centering">
		<div class="about_content">
			<div class="h1">Интернет-магазин профессиональной косметики для волос</div>
			<p>Каждая женщина стремится выглядеть безупречно и хочет как можно дольше оставаться молодой и привлекательной. Салонная косметика помогает женской красоте в борьбе с множеством врагов, тайных или явных. Но как быть, если не хватает времени регулярно посещать салоны красоты, а неблагополучная экологическая обстановка, стрессы, агрессивные внешние факторы или стандартная для нынешнего темпа жизни нехватка полноценного сна и отдыха – все это не лучшим образом сказывается на цвете лица и общем состоянии кожи и волос? Не стоит отчаиваться.</p>
			<div class="ac_hide">
				<div class="ach_link achl_show"><span>Читать далее</span></div>
				<div class="ach_content">
					<p>Современная косметология предлагает множество способов сохранить свою красоту и здоровье, в том числе, при помощи новейшей профессиональной косметики для волос и кожи, которую теперь можно приобрести для домашнего использования.</p>
					<p>Профессиональная косметика для лица и волос сегодня вышла за пределы салонов красоты, поскольку производители стремятся сделать свою продукцию максимально доступной и простой в применении. Над ее созданием трудятся ведущие эксперты, совмещая удачный опыт своих</p>
				</div>
				<div class="ach_link achl_hide"><span>Скрыть</span></div>
			</div>
		</div>
	</div>
</div>

{% endblock %}