<div class="footer">
	<div class="centering clearfix">
		<div class="f_logo_block">
			<a href="#" class="flb_logo">Профикс - с нами профессионалы</a>
			<div class="f_copyright">
				&copy; 2017<br />profiks-shop.ru интернет-магазин<br />профессиональной косметики<br /> для волос.
			</div>
			<div class="f_made_in">
				Создание сайта - <a href="#" class="link">WA</a>
			</div>
		</div>
		<div class="f_block">
			<div class="fb_title">Каталог</div>
			<ul>
				<li><a href="#">Косметика для волос</a></li>
				<li><a href="#">Косметика для ногтей</a></li>
				<li><a href="#">Профессиональная техника</a></li>
				<li><a href="#">Парикмахерские аксессуары</a></li>
			</ul>
		</div>
		<div class="f_block">
			<div class="fb_title">Покупателю</div>
			<ul>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Beauty-блог</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Оплата</a></li>
				<li><a href="#">Возврат</a></li>
			</ul>
		</div>
		<div class="f_block fb_margin_social">
			<div class="fb_title">"Профикс"</div>
			<ul>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Контакты</a></li>
				<li>
					<span class="link_dotted cloud_link"><span>Заказать звонок</span></span>
					<span class="cloud_window">
						<span class="cw_order_phone">
							<span class="cwc_title">Заказать звонок</span>
							<span class="cwop_desc">Укажите ваше имя и номер телефона, и наши консультанты свяжутся с вами в ближайшее время</span>
							<form action="">
								<span class="cwop_line form_error">
									<input type="text" placeholder="Имя*:" required="required" />
									<span class="form_error_text">Пожалуйста, укажите свое имя</span>
								</span>
								<span class="cwop_line">
									<input type="text" placeholder="Телефон*:" required="required" />
									<span class="form_error_text">Пожалуйста, введите свой номер телефона</span>
								</span>
								<span class="cwop_button">
									<input type="submit" class="cwopb_send" value="Отправить" />
								</span>
							</form>
						</span>
					</span>
				</li>
			</ul>
		</div>
		<div class="f_contacts_block">
			<div class="fcb_phone">+7 (343) 216-53-09</div>
			<div class="fcb_adress">г. Екатеринбург ул. Амунденса, 56 а, оф. 5</div>
			<div class="fcb_email"><a href="mailto:profiks-com@yandex.ru" class="link">profiks-com@yandex.ru</a></div>
			<ul class="fcb_social">
				<li>
					<a href="#" title="ВКонтакте">
						<svg width="100%" height="100%" class="use_vk">
							<use xlink:href="#vk" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="#" title="Facebook">
						<svg width="100%" height="100%" class="use_facebook">
							<use xlink:href="#facebook" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</a>
				</li>
			</ul>
			<a href="#" class="fcb_go">Перейти на корпоративный сайт</a>
		</div>
	</div>
</div>