<div class="your_city">
	<div class="yc_close yc_close_link" title="Закрыть"></div>
	Город доставки ваших товаров - Екатеринбург? <a href="#" class="link yc_close_link">Да</a> <a href="#" class="link go_city_modal">Нет</a>
</div>
<div class="header">
	<div class="centering">
		<div class="h_top_line clearfix">
			<ul class="htl_menu">
				<li><a href="#">О компании</a></li>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Оплата</a></li>
				<li><a href="#">Beauty-Блог</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<ul class="htl_social">
				<li>
					<a href="#" title="ВКонтакте">
						<svg width="100%" height="100%" class="use_vk">
							<use xlink:href="#vk" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="#" title="Facebook">
						<svg width="100%" height="100%" class="use_facebook">
							<use xlink:href="#facebook" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<div class="h_middle_line clearfix">
			<div class="hml_left">
				<div class="hmll_city">
					Ваш город - <span class="link_dotted go_city_modal" title="Выбрать другой город"><span>Екатеринбург</span></span>
					<div class="hmllc_delivery">Бесплатная доставка от 2 000 руб.</div>
				</div>
			</div>
			<div class="hml_center">
				<a href="#" class="hmlc_logo">Профикс - с нами профессионалы</a>
			</div>
			<div class="hml_right">
				<div class="hmlr_phone">
					<div class="hmlrp_number">8 800 200 33 05</div>
					<span class="link_dotted cloud_link"><span>Заказать звонок</span></span>
					<div class="cloud_window">
						<div class="cw_order_phone">
							<div class="cwc_title">Заказать звонок</div>
							<div class="cwop_desc">Укажите ваше имя и номер телефона, и наши консультанты свяжутся с вами в ближайшее время</div>
							<form action="">
								<div class="cwop_line form_error">
									<input type="text" placeholder="Имя*:" required="required" />
									<div class="form_error_text">Пожалуйста, укажите свое имя</div>
								</div>
								<div class="cwop_line">
									<input type="text" placeholder="Телефон*:" required="required" />
									<div class="form_error_text">Пожалуйста, введите свой номер телефона</div>
								</div>
								<div class="cwop_button">
									<input type="submit" class="cwopb_send" value="Отправить" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hbl_clone"></div>
	<div class="h_bottom_line hbl_default">
		<div class="centering">
			<div class="hbl_button_menu">
				<div class="hblbm_name"></div>
				<div class="hblbm_ico">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="hbl_menu_block">
				<ul class="hbl_menu">
					<li class="hblm_in_scroll"><a href="#">Все новинки</a></li>
					<li class="hblm_in_scroll"><a href="#">Хиты продаж</a></li>
					<li class="hblm_in_scroll"><a href="#">Все скидки</a></li>
					<li class="hblm_in_scroll"><span></span></li>
					<li>
						<!-- Добавляем два span'a если есть дочернее меню -->
						<span class="hblm_link_mobile"></span>
						<span class="hblm_arrow_mobile"></span>
						<!-- / Добавляем два span'a если есть дочернее меню -->
						<a href="#">Для волос</a>
						<ul>
							<li class="hblm_bolds">
								<ul>
									<li class="hblm_in_mobile"><a href="#">Показать все</a></li>
									<li><a href="#">Новинки</a></li>
									<li><a href="#">Хиты продаж</a></li>
									<li><a href="#">Скидки</a></li>
								</ul>
							</li>
							<li>
								<span class="hblm_title">Каталог</span>
								<ul>
									<li><a href="#">Уход</a></li>
									<li><a href="#">Окрашивание</a></li>
									<li><a href="#">Стайлинг</a></li>
									<li><a href="#">Выпрямление</a></li>
									<li><a href="#">Салонные процедуры</a></li>
									<li><a href="#">Осветление</a></li>
									<li><a href="#">Химическая завивка</a></li>
									<li><a href="#">Для мужчин</a></li>
								</ul>
							</li>
							<li class="hblm_hide_in_mobile">
								<span class="hblm_title">Бренды</span>
								<ul>
									<li><a href="#">Ollin Professional</a></li>
									<li><a href="#">Contrast Delight</a></li>
									<li><a href="#">Nexxt</a></li>
									<li><a href="#">Schwarzkopf</a></li>
									<li><a href="#">Londa Professional</a></li>
									<li><a href="#">Keen</a></li>
									<li><a href="#">Indola</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#">Для ногтей</a></li>
					<li><a href="#">Профессиональная техника</a></li>
					<li><a href="#">Парикмахерские аксессуары</a></li>
					<li class="hblm_in_mobile">
						<!-- Добавляем два span'a если есть дочернее меню -->
						<span class="hblm_link_mobile"></span>
						<span class="hblm_arrow_mobile"></span>
						<!-- / Добавляем два span'a если есть дочернее меню -->
						<a href="#">Помощь и информация</a>
						<ul>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Акции</a></li>
							<li><a href="#">Доставка</a></li>
							<li><a href="#">Оплата</a></li>
							<li><a href="#">Beauty-Блог</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</li>
				</ul>
				<div class="hblb_right">
					<div class="hblbr_city">
						<select>
							<option>Екатеринбург</option>
							<option>Тюмень</option>
							<option>Челябинск</option>
							<option>Курган</option>
						</select>
					</div>
					<div class="hmll_cabinet">
						<a href="#">
							<span class="uu_frame">
								<svg width="100%" height="100%" class="use_user">
									<use xlink:href="#user" x="0" y="0" width="100%" height="100%"></use>
								</svg>
							</span>
							<span class="link">Личный кабинет</span>
						</a>
					</div>
				</div>
			</div>
			<div class="hblm_search">
				<input type="text" class="hblms_input cloud_link" placeholder="Более 10 000 товаров" value="" />
				<div class="cloud_window">
					<div class="cw_close">
						<span class="cloud_close"></span>
					</div>
					<div class="cw_search">
						<div class="cart product_search">
							<div class="cart_line">
								<div class="cl_photo">
									<div class="clp_image" style="background-image: url(images/product.jpg);"></div>
								</div>
								<div class="cl_title">
									<div class="clt_brand">
										<a href="#">Ollin Professional</a>
									</div>
									<div class="clt_name">
										<a href="#">Моделирующий крем для волос средней фиксации, 200 мл</a>
									</div>
								</div>
								<div class="cl_quanity">
								    <div class="clq_minus" title="Уменьшить количество">-</div>
								    <input type="text" value="1" />
								    <div class="clq_plus" title="Увеличить количество">+</div>
								</div>
								<div class="cl_price">
									15 000<span class="rub"></span>
								</div>
								<div class="cl_add_cart">
									<a href="#" class="clpac_button">
										<span>
											<svg width="100%" height="100%">
												<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
											</svg>
										</span>
										В корзину
									</a>
								</div>
								<div class="cl_one_click">
									<a href="#" class="cloc_link"><span>Купить в один клик</span></a>
								</div>
							</div>
							<div class="cart_line">
								<div class="cl_photo">
									<div class="clp_image" style="background-image: url(images/product.jpg);"></div>
								</div>
								<div class="cl_title">
									<div class="clt_brand">
										<a href="#">Ollin Professional</a>
									</div>
									<div class="clt_name">
										<a href="#">Моделирующий крем для волос средней фиксации, 200 мл</a>
									</div>
								</div>
								<div class="cl_quanity">
								    <div class="clq_minus" title="Уменьшить количество">-</div>
								    <input type="text" value="1" />
								    <div class="clq_plus" title="Увеличить количество">+</div>
								</div>
								<div class="cl_price">
									15 000<span class="rub"></span>
								</div>
								<div class="cl_add_cart">
									<a href="#" class="clpac_button">
										<span>
											<svg width="100%" height="100%">
												<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
											</svg>
										</span>
										В корзину
									</a>
								</div>
								<div class="cl_one_click">
									<a href="#" class="cloc_link"><span>Купить в один клик</span></a>
								</div>
							</div>
							<div class="cart_line">
								<div class="cl_photo">
									<div class="clp_image" style="background-image: url(images/product.jpg);"></div>
								</div>
								<div class="cl_title">
									<div class="clt_brand">
										<a href="#">Ollin Professional</a>
									</div>
									<div class="clt_name">
										<a href="#">Моделирующий крем для волос средней фиксации, 200 мл</a>
									</div>
								</div>
								<div class="cl_quanity">
								    <div class="clq_minus" title="Уменьшить количество">-</div>
								    <input type="text" value="1" />
								    <div class="clq_plus" title="Увеличить количество">+</div>
								</div>
								<div class="cl_price">
									15 000<span class="rub"></span>
								</div>
								<div class="cl_add_cart">
									<a href="#" class="clpac_button">
										<span>
											<svg width="100%" height="100%">
												<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
											</svg>
										</span>
										В корзину
									</a>
								</div>
								<div class="cl_one_click">
									<a href="#" class="cloc_link"><span>Купить в один клик</span></a>
								</div>
							</div>
							<div class="cart_line">
								<div class="cl_photo">
									<div class="clp_image" style="background-image: url(images/product.jpg);"></div>
								</div>
								<div class="cl_title">
									<div class="clt_brand">
										<a href="#">Ollin Professional</a>
									</div>
									<div class="clt_name">
										<a href="#">Моделирующий крем для волос средней фиксации, 200 мл</a>
									</div>
								</div>
								<div class="cl_quanity">
								    <div class="clq_minus" title="Уменьшить количество">-</div>
								    <input type="text" value="1" />
								    <div class="clq_plus" title="Увеличить количество">+</div>
								</div>
								<div class="cl_price">
									15 000<span class="rub"></span>
								</div>
								<div class="cl_add_cart">
									<a href="#" class="clpac_button">
										<span>
											<svg width="100%" height="100%">
												<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
											</svg>
										</span>
										В корзину
									</a>
								</div>
								<div class="cl_one_click">
									<a href="#" class="cloc_link"><span>Купить в один клик</span></a>
								</div>
							</div>
							<div class="cart_line">
								<div class="cl_photo">
									<div class="clp_image" style="background-image: url(images/product.jpg);"></div>
								</div>
								<div class="cl_title">
									<div class="clt_brand">
										<a href="#">Ollin Professional</a>
									</div>
									<div class="clt_name">
										<a href="#">Моделирующий крем для волос средней фиксации, 200 мл</a>
									</div>
								</div>
								<div class="cl_quanity">
								    <div class="clq_minus" title="Уменьшить количество">-</div>
								    <input type="text" value="1" />
								    <div class="clq_plus" title="Увеличить количество">+</div>
								</div>
								<div class="cl_price">
									15 000<span class="rub"></span>
								</div>
								<div class="cl_add_cart">
									<a href="#" class="clpac_button">
										<span>
											<svg width="100%" height="100%">
												<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
											</svg>
										</span>
										В корзину
									</a>
								</div>
								<div class="cl_one_click">
									<a href="#" class="cloc_link"><span>Купить в один клик</span></a>
								</div>
							</div>
						</div>
						<a href="#" class="modal_more">Смотреть все результаты</a>
					</div>
				</div>
				<div class="hblms_ico">
					<svg width="100%" height="100%" class="use_search">
						<use xlink:href="#search" x="0" y="0" width="100%" height="100%" />
					</svg>
				</div>
			</div>
			<ul class="hmlr_menu">
				<li>
					<span class="hmlrm_ico">
						<svg width="100%" height="100%" class="use_cart">
							<use xlink:href="#cart" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</span>
					<span class="link">10</span>
					<a href="#"></a>
					<span class="hmlrm_span_link cloud_link"></span>
					<span class="cloud_window">
						<span class="cw_cart_pure" style="display: none;">
							<span class="cwc_title">Ваша корзина пока пуста</span>
							<span class="cwcp_ico">
								<svg width="100%" height="100%" class="use_cart_pure">
								    <defs>
								        <linearGradient id="cart_gradient">
								            <stop offset="0%" style="stop-color: #1b6d9e"></stop>
								            <stop offset="100%" style="stop-color: #472f9c"></stop>
								        </linearGradient>
								    </defs>
									<use xlink:href="#cart" x="0" y="0" fill="url(#cart_gradient)" width="100%" height="100%"></use>
								</svg>
							</span>
							<span class="cwcp_go_shop cloud_close">
								Продолжить покупки
							</span>
						</span>
						<span class="cw_cart_full">
							<span class="cwc_title">В вашей корзине 7 товаров</span>
							<span class="cwcf_scroll">
								<span class="cart">
									<span class="cart_line">
										<span class="cl_photo">
											<span class="clp_image" style="background-image: url(images/product.jpg);"></span>
										</span>
										<span class="cl_title">
											<span class="clt_brand">
												<a href="#">Ollin Professional</a>
											</span>
											<span class="clt_name">
												<a href="#">Моделирующий крем для волос средней фиксации, 200 мл</a>
											</span>
										</span>
										<span class="cl_quanity">
										    <span class="clq_minus" title="Уменьшить количество">-</span>
										    <input type="text" value="1" />
										    <span class="clq_plus" title="Увеличить количество">+</span>
										</span>
										<span class="cl_price">
											15 000<span class="rub"></span>
										</span>
										<span class="cl_buttons">
											<span class="clb_delete" title="Удалить товар из корзины">
												<svg width="100%" height="100%" class="use_delete">
													<use xlink:href="#recycling" x="0" y="0" width="100%" height="100%"></use>
												</svg>
											</span>
										</span>
									</span>
									<span class="cart_line">
										<span class="cl_photo">
											<span class="clp_image" style="background-image: url(images/product.jpg);"></span>
										</span>
										<span class="cl_title">
											<span class="clt_brand">
												<a href="#">Ollin Professional</a>
											</span>
											<span class="clt_name">
												<a href="#">Моделирующий крем для волос средней фиксации, 200 мл</a>
											</span>
										</span>
										<span class="cl_quanity">
										    <span class="clq_minus" title="Уменьшить количество">-</span>
										    <input type="text" value="1" />
										    <span class="clq_plus" title="Увеличить количество">+</span>
										</span>
										<span class="cl_price">
											15 000<span class="rub"></span>
										</span>
										<span class="cl_buttons">
											<span class="clb_delete" title="Удалить товар из корзины">
												<svg width="100%" height="100%" class="use_delete">
													<use xlink:href="#recycling" x="0" y="0" width="100%" height="100%"></use>
												</svg>
											</span>
										</span>
									</span>
									<span class="cart_line">
										<span class="cl_photo">
											<span class="clp_image" style="background-image: url(images/product.jpg);"></span>
										</span>
										<span class="cl_title">
											<span class="clt_brand">
												<a href="#">Ollin Professional</a>
											</span>
											<span class="clt_name">
												<a href="#">Моделирующий крем для волос средней фиксации, 200 мл</a>
											</span>
										</span>
										<span class="cl_quanity">
										    <input type="text" value="1" disabled="disabled" />
										</span>
										<span class="cl_price clp_gift">
											<span class="ug_frame">
												<svg width="100%" height="100%" class="use_gift">
												    <defs>
												        <linearGradient id="gift_gradient">
												            <stop offset="0%" style="stop-color: #1b6d9e"></stop>
												            <stop offset="100%" style="stop-color: #472f9c"></stop>
												        </linearGradient>
												    </defs>
													<use xlink:href="#gift" x="0" y="0" fill="url(#gift_gradient)" width="100%" height="100%"></use>
												</svg>
											</span>
										</span>
										<span class="cl_buttons">
										</span>
									</span>
								</span>
							</span>
							<span class="cwcf_hr"></span>
							<span class="cwcf_prices clearfix">
								<span class="cwcfp_price">3 386</span>
								<span class="cwcfp_title">7 товаров на сумму:</span>
								<span class="cwcfp_price cwcfp_red">101, 58</span>
								<span class="cwcfp_title cwcfp_red">До бесплатной доставки осталось</span>
								<span class="cwcfp_price cwcfp_blue">101, 58</span>
								<span class="cwcfp_title cwcfp_blue">До скидки 3% осталось</span>
							</span>
							<div class="cwcf_buttons clearfix">
								<span class="cwcp_go_order">
									Оформить заказ
								</span>
								<span class="cwcp_go_shop cloud_close">
									Продолжить покупки
								</span>
							</div>
						</span>
					</span>
				</li>
				<li>
					<span class="hmlrm_ico">
						<svg width="100%" height="100%" class="use_heart">
							<use xlink:href="#heart" x="0" y="0" width="100%" height="100%"></use>
						</svg>
					</span>
					<span class="link">5</span>
					<a href="#"></a>
				</li>
			</ul>
		</div>
	</div>
</div>